.movies {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
}

.movies__preloader-container {
  max-width: 250px;
  padding: 50px 0 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  .movies {
    padding: 0 70px;
  }
}
