.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.not-found_title {
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  margin: 0;
  width: fit-content;
  color: white;
}

.not-found_subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0;
  color: white;
}

.not-found_link {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #4285f4;
  transition: opacity 0.3s;
  position: absolute;
  bottom: 30px;
}

.not-found_link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .not-found_title {
    font-size: 140px;
    line-height: 169px;
    margin: 184px 0 0;
  }

  .not-found_subtitle {
    font-size: 16px;
    line-height: 19px;
    margin: 5px 0 0;
  }

  .not-found_link {
    font-size: 14px;
    line-height: 17px;
    position: relative;
    bottom: 0;
    margin: 184px 0 0;
  }
}
