.movie-list__cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 14px 0 26px;
  list-style: none;
}

@media screen and (min-width: 600px) {
  .movie-list__cards {
    padding: 70px 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movie-list__cards {
    padding: 70px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 37px;
  }
}
