.header {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 74px;
  padding: 14px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__signup-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}

.header__signup-link:hover {
  opacity: 0.7;
}

.header__signin-link {
  background-color: #3ddc84;
  padding: 5px 12px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: black;
  text-decoration: none;
  transition: opacity 0.3s;
}

.header__signin-link:hover {
  opacity: 0.8;
}

.header__landing {
  background-color: #073042;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }

  .header__signup-link {
    font-size: 12px;
    line-height: 16px;
  }

  .header__signin-link {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 20px;
  }

  .header__actions {
    gap: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 18px 70px;
  }
}
